{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </div>



        <!-- Begin MailChimp Signup Form -->
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; padding: 10px 40px;}
        </style>
        <div id="mc_embed_signup">
          <h2>Building an Ethereum / EOS / Bitcoin dApp? </h2>
          <p>
            <strong><a href="https://nodablock.com">Nodablock</a></strong> helps Citymayor to access the Ethereum network without any hassle
          </p>

            <p>
                <strong>Nodablock</strong> provides an easy access to the main Blockchain networks (Ethereum, EOS, bitcoin) with a secure, 
                reliable, and scalable API. It saves developers time and money, and remove the need to maintain your own node.
          </p>
        </div>

      </article>
  </div>

  
{{ end }}
